services:
  app:
    build: .
    ports:
      - "3000:3000"

    environment:
      PORT: 3000
      MONGO_URI: mongodb://mongo:27017/ci-demo

    depends_on:
      - mongo
  
  mongo:
    image: mongo

    ports:
      - "27017:27017"
  