name: CI Pipeline

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build Docker image
        run: docker build -t ci-app .

      - name: Login to DockerHub
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Push image
        run: |
          docker tag ci-app ${{ secrets.DOCKERHUB_USERNAME }}/ci-cd-demo:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/ci-cd-demo:latest

      - name: Run tests
        run: echo "CI BUILD SUCCESS"
